.lock {
  overflow: hidden;
}
#modal-target {
  display: none;
  position: relative;
  width: 100%;
  height: 100%;
}
.modal-content {
  display: none;
}
.modal-overlay {
  z-index: 99998;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 21, 43, 0.9);
}
.modal-wrap {
  z-index: 99999;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch
}
.modal-open {
  display: inline-block;
  background: linear-gradient(-135deg, #2ebf43, #00db4f);
  border: none !important;
  padding: 10px 30px;
  text-decoration: none;
  border-radius: 50px;
  color: #FFF;
	transition: all .2s ease-in-out;
}
.modal-open.blue{
	background:transparent;
	color: #666;
}
.modal-open.blue:hover {
	color: #999;
}
li.active .modal-open.blue{
	background: transparent !important;
	color: #FFF;
}
.modal-open.setting{
	background: transparent;
	color: #555;
	width:100%;
	border-radius:5px;
	padding: 6px 12px;
		box-sizing: border-box;
	border:1px solid #999 !important;font-size: 12px;
}
.modal-open.setting:before{
	display: none;
}
.modal-open.setting.white{
	background: #FFF !important;
	border: none !important;
}
.modal-open.setting2{
	background: transparent;
	color: #555;
	width:100%;
	border-radius:5px;
	padding: 0;
		box-sizing: border-box;
	position: relative;
}
.modal-open.setting2:before{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%) rotate(90deg);
	font-size:20px;
	background: #FFF;
	width:50px;
	height:50px;
	line-height: 50px;
	text-align: center;
	vertical-align: middle;
	border-radius: 50%;
	display: block;
 box-shadow: 0px -1px 10px 0px rgba(0, 0, 0,.5);
}
/*
.modal-open.setting:before{
	content:"✓";
	transform: rotate(0);
	color:red;
}
*/
.modal-open.no-setting{
	background:transparent;
	color: #2ebf43;
	width:15%;
	border-radius:5px;
		padding: 10px;
	text-align: center;
	opacity: .7;
	box-sizing: border-box;
	border: 2px solid  #2ebf43 !important;
	margin: 12px 0 0 20px;
	font-weight:bold;
	letter-spacing: .5em;
}
.modal-open.no-setting:before{
	display: none;
}
.modal-open:before {
  content: "▲";
  display: inline-block;
  transform: rotate(90deg);
  font-size: 10px;
  margin: 0 5px 0 0;
}
.modal-open2 {
  cursor: pointer;
}
.modal-open:hover {
  cursor: pointer;
	opacity: .7;
	color: #FFF;
}

.modal-open.setting:hover,
.modal-open.no-setting:hover{
	opacity: .7;
	color: #999;
}
@media only screen and (max-width:736px) {
 .sp-no{
		pointer-events: none;
}
	.modal-open.no-setting{
	background:transparent;
	color: #2ebf43;
	width:100%;
	border-radius:5px;
		padding: 10px;
	text-align: center;
	opacity: .7;
	box-sizing: border-box;
	border: 2px solid  #2ebf43 !important;
	margin: 12px 0 0 0;
	font-weight:bold;
	letter-spacing: .5em;
}
}
.modal-close {
  color: #FFF !important;
}
.modal-close:hover {
  cursor: pointer;
}
.textarea, .textarea_c {
    width: 70%;
	max-width: 980px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}
.textarea.narrow{
	width: 20%;
}
.textarea .listing{
	background: #FFF;
	padding:0 25px 75px 25px;
	overflow-y: scroll;
	max-height:70vh;
	border-radius:15px;
}
.textarea .listing h3{
	text-align: center;
	font-size:16px;
	margin-bottom: 20px;
	margin-top: 25px;
	font-weight:normal;
}
@media only screen and (max-width:736px) {
	.textarea .listing{
	max-height:80vh;
			padding:0 0 70px 15px;
	}
	.textarea .listing h3{
		font-size: 14px;
		margin-right: 15px;
	}
}
.modal-set{
	position: fixed;
	bottom:-15px;
	left:0;
	width:100%;
	padding: 15px;
	background: #3682fa;
	border-radius:0 0 15px 15px / 0 0 15px 15px;
    min-height: 50px;;
}
@media only screen and (max-width:736px) {
	.modal-set{
		bottom:0;
	}
}
.modal-set button{
	border-radius:10px;
	background: #FFF;
	display: block;
	margin: 0 auto;
	padding: 10px 50px;
	border: none;
	color:  #3682fa !important;
	font-weight:bold;
}
.textarea .v {
  position: relative;
}
.textarea .v img {
  position: absolute;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0)
}
.textarea .explain {
  position: absolute;
  width: 60%;
  left: 50%;
	top:50%;
  transform: translate(-50%, -50%);
	background: #FFF;
	padding: 50px;
	box-sizing: border-box;
}
.textarea .explain ul li{
	margin-bottom: 15px;
	text-indent:-1em;
	padding-left: 1em;
}
.textarea .explain ul li small{
	display: block;
	font-size:13px;
	margin-left: 1em;
}
.fifty {
  margin-top: 50px !important;
}
p.closemodal {
  position: fixed;
  top:50px !important;
  right: 50px !important;
  font-size: 25px;
}
p.closemodal img {
  width: 80px;
}
.textarea h3 {
  color: #222256;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.textarea video {
  max-width: 100%;
}
.form-content-modal {
  overflow: hidden;
  clear: both;
  padding: 5px 0 5px 0;
  margin: 0 0 5px 0;
  font-size: 14px;
  position: relative;
}
.form-content-modal select {
  background: #F1F2F5;
  border-radius: 3px;
  border: none;
  margin-right: 5px;
  padding: 5px;
}
.form-content-modal input[type=checkbox] {
  display: none;
}
.form-content-modal input[type=checkbox] + label {
  padding-left: 20px;
  margin: 0 10px 0 0;
  position: relative;
  top: -3px;
}
.form-content-modal input[type=checkbox] + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #999;
}
.form-content-modal input[type=checkbox]:checked + label {
  color: #666;
}
.form-content-modal input[type=checkbox]:checked + label:before {
  border: 1px solid #F27E95;
}
.form-content-modal input[type=checkbox]:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: #F27E95;
}
.border {
  border-top: 1px solid #EEE;
  margin: 0 0 15px 0;
  overflow: hidden;
  clear: both
}
.startendday {
  background: #F1F2F5;
  border-radius: 3px;
  display: none;
  margin-bottom: 50px;
}
ul.startendday li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px;
  font-size: 13px;
}
ul.startendday li:first-child, ul.startendday li:last-child {
  background: #F1F2F5 url(img/calender.png) 5px 50% no-repeat;
  background-size: 18px;
  padding-left: 28px;
}
.weekly {
  position: relative;
  top: 3px;
}
@media only screen and (max-width:736px) {
  .textarea h3 {
    font-size: 15px;
  }
  .fifty {
    margin-top: 20px !important;
  }
  .weekly {
    position: static;
    margin-left: 28px;
    margin-top: 7px;
    display: block;
    margin-bottom: 0;
  }
  .form-content-modal select {
    font-size: 13px;
  }
  .textarea_c, .textarea {
    max-width: initial;
    margin: 0;
    width: 90%;
    padding: 0;
    box-sizing: border-box;
  }
  p.closemodal {
    position: absolute;
    top: 20px !important;
    right: 20px !important;
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
  }
}
/*LITY*/
/*! Lity - v2.4.1 - 2020-04-26
* http://sorgalla.com/lity/
* Copyright (c) 2015-2020 Jan Sorgalla; Licensed MIT */ .lity {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  white-space: nowrap;
  background: #0b0b0b;
  background: rgba(0, 0, 0, 0.9);
  outline: none !important;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}
.lity.lity-opened {
  opacity: 1
}
.lity.lity-closed {
  opacity: 0
}
.lity * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.lity-wrap {
  z-index: 9990;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  outline: none !important
}
.lity-wrap:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em
}
.lity-loader {
  z-index: 9991;
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -0.8em;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  opacity: 0;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease
}
.lity-loading .lity-loader {
  opacity: 1
}
.lity-container {
  z-index: 9992;
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  white-space: normal;
  max-width: 100%;
  max-height: 100%;
  outline: none !important
}
.lity-content {
  z-index: 9993;
  width: 100%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  -o-transition: -o-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease, -o-transform .3s ease
}
.lity-loading .lity-content, .lity-closed .lity-content {
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8)
}
.lity-content:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6)
}
.lity-close {
  z-index: 9994;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 50px;
  top: 50px;
  -webkit-appearance: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 50px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none
}
.lity-close::-moz-focus-inner {
  border: 0;
  padding: 0
}
.lity-close:hover, .lity-close:focus, .lity-close:active, .lity-close:visited {
  text-decoration: none;
  text-align: center;
  padding: 0;
  color: #fff;
  font-style: normal;
  font-size: 35px;
  font-family: Arial, Baskerville, monospace;
  line-height: 35px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  border: 0;
  background: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none
}
.lity-close:active {
  top: 1px
}
.lity-image img {
  max-width: 100%;
  display: block;
  line-height: 0;
  border: 0
}
.lity-iframe .lity-container, .lity-youtube .lity-container, .lity-vimeo .lity-container, .lity-facebookvideo .lity-container, .lity-googlemaps .lity-container {
  width: 100%;
  max-width: 964px
}
.lity-iframe-container {
  width: 100%;
  height: 0;
  padding-top: 56.25%;
  overflow: auto;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-overflow-scrolling: touch
}
.lity-iframe-container iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000
}
.lity-hide {
  display: none
}
